[build]
target = "riscv64gc-unknown-none-elf"

[target.riscv64gc-unknown-none-elf]
runner = "tacos"
rustflags = [
  "-Clink-arg=-Tsrc/linker.ld",
  "-Cforce-frame-pointers=yes",
  "--verbose",
  "-Csave-temps=yes",
]
